// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Plus Jakarta Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Bootstrap-Icons
$bootstrap-icons-font-dir: "bootstrap-icons/font/fonts";