// Fonts
@import url(https://fonts.bunny.net/css?family=plus-jakarta-sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i);

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
